@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

:root {
  --color-black: rgb(30, 30, 30);
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  min-height: 100vh;
  overflow-y: scroll;
  background-color: var(--color-black);
  color: white;
  @apply max-w-screen-lg m-auto;
}

input:focus {
  outline: none;
}
